{% extends "card.twig" %}

{% block cardTitle %}Dashboard{% endblock %}

{% block cardContent %}

    <table class="table table-hover">
        <tr>
            <td><strong>Number of units</strong></td>
            <td>{{ stats.unitsCount.total }}</td>
        </tr>
        <tr>
            <td><strong>Units online</strong></td>
            <td>{{ stats.unitsCount.online }}</td>
        </tr>
        <tr>
            <td><strong>Units offline</strong></td>
            <td>{{ stats.unitsCount.offline }}</td>
        </tr>
        <tr>
            <td><strong>Number of tasks</strong></td>
            <td>{{ stats.tasksCount }}</td>
        </tr>
        <tr>
            <td><strong>Total runs</strong></td>
            <td>{{ stats.runsCount }}</td>
        </tr>
    </table>

{% endblock %}
