{% extends "card.twig" %}

{% block cardTitle %}Run{% endblock %}

{% block cardContent %}

    <p><strong>Task:</strong> <a href="/tasks/log/{{ task.id }}">{{ task.name | escape }}</a></p>

    <p><strong>Date:</strong> {{ run.date }}</p>

    <p><strong>Run id:</strong> {{ run.id }}</p>

    <hr>

    {% for unitId, unit in run.units %}

        <p><strong>Unit:</strong> {{ units[unitId] | escape }}</p>

        {% set statusClass = 'text-info' %}
        {% if unit.status == 'OK' %}
            {% set statusClass = 'text-success' %}
        {% elseif unit.status == 'FAIL' %}
            {% set statusClass = 'text-danger' %}
        {% endif %}

        <p><strong>Status:</strong> <span class="{{ statusClass }}">{{ unit.status }} - {{ unit.message }}</span></p>

        <ul class="list-group">
            {% for step in unit.steps %}
                <li class="list-group-item">
                    {# Status #}
                    <p>
                        Success:
                        {% if step.success == 'true' %}
                            <span class="text-success"><i class="fa fa-check"></i> {{ step.message | escape }}</span>
                        {% else %}
                            <span class="text-danger"><i class="fa fa-times"></i> {{ step.message | escape }}</span>
                        {% endif %}
                    </p>

                    {# Code and time #}
                    <p>
                        {% if step.code %}
                            Code: <strong>{{ step.code }}</strong>
                        {% endif %}

                        {% if step.time %}
                            Time: <strong>{{ step.time / 1000 }}</strong> seconds
                        {% endif %}
                    </p>

                    {# Output streams #}
                    {% if step.stdout %}
                        <p>stdout:</p>
                        <pre>{{ step.stdout | escape }}</pre>
                    {% endif %}

                    {% if step.stderr %}
                        <p>stderr:</p>
                        <pre>{{ step.stderr | escape }}</pre>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <hr>

    {% endfor %}

{% endblock %}
