{% extends "card.twig" %}

{% block cardTitle %}Run{% endblock %}

{% block cardContent %}

    <p><strong>Task:</strong> {{ task.name }}</p>

    <p><strong>Date:</strong> {{ run.date }}</p>

    <p><strong>Status:</strong> {{ run.status }}</p>

    <p><strong>Message:</strong> {{ run.message }}</p>

    {% for unitId, unit in run.units %}
        <div class="panel panel-default">

            <div class="panel-heading">
                <strong>Unit:</strong> {{ units[unitId] }}
            </div>

            <div class="panel-body">

                <p><strong>Status:</strong> {{ unit.status }}</p>

                <p><strong>Message:</strong> {{ unit.message }}</p>

                <p><strong>Steps:</strong></p>

                {% for step in unit.steps %}
                    <hr>

                    <p><strong>Success:</strong> {{ step.success }}</p>

                    <p><strong>Message:</strong> {{ step.message }}</p>

                    <p><strong>Code:</strong> {{ step.code }}</p>

                    <p><strong>Time:</strong> {{ step.time }}</p>

                    <p><strong>stdout:</strong></p>
                    <pre>{{ step.stdout }}</pre>

                    <p><strong>stderr:</strong></p>
                    <pre>{{ step.stderr }}</pre>

                {% endfor %}

            </div>

        </div>
    {% endfor %}

{% endblock %}
