{% extends "card.twig" %}

{% block cardTitle %}Tasks{% endblock %}

{% block cardContent %}

    <div>
        <a href="/tasks/add" class="btn btn-default">
            <i class="fa fa-plus"></i> New task
        </a>
        <div class="pull-right">{% include "filterForm.twig" %}</div>
        <div class="clearfix"></div>
    </div>

    <br>

    <ul class="list-group">
        {% for task in tasks %}
            <li class="list-group-item">

                <strong class="item-name">{{ task.name | escape }}</strong>

                <div class="pull-right control-buttons">

                    <a href="/tasks/run/{{ task.id }}" class="text-success">
                        <i class="fa fa-play"></i> Run
                    </a>

                    <a href="/tasks/log/{{ task.id }}">
                        <i class="fa fa-clock-o"></i> Log
                    </a>

                    <a href="/tasks/edit/{{ task.id }}">
                        <i class="fa fa-edit"></i> Edit
                    </a>

                    <a href="/tasks/delete/{{ task.id }}" class="text-danger">
                        <i class="fa fa-remove"></i> Remove
                    </a>

                </div>
                
                <div class="clearfix"></div>

            </li>
        {% endfor %}
    </ul>


{% endblock %}
