{% extends "card.twig" %}

{% block cardTitle %}Units{% endblock %}

{% block cardContent %}

    <p><a class="btn btn-default" href="/units/add">
            <i class="fa fa-plus"></i> Add unit
        </a>
    </p>

    <ul class="list-group">
        {% for unit in units %}
            <li class="list-group-item">

                <strong>{{ unit.name }}</strong>

                <em>{{ unit.address }}</em>

                <span class="text-info">{{ unit.status }}</span>

                <div class="pull-right control-buttons">

                    <a href="/units/edit/{{ unit.id }}" class="text-info">
                        <i class="fa fa-edit"></i> Edit
                    </a>

                    <a href="/units/delete/{{ unit.id }}" class="text-danger">
                        <i class="fa fa-remove"></i> Remove
                    </a>

                </div>

            </li>
        {% endfor %}
    </ul>


{% endblock %}